@{
    string actionDescr      = ViewContext.RouteData.Values["Action"].ToString();
    string controllerDescr  = ViewContext.RouteData.Values["Controller"].ToString();
    int parent              = 0;
    List<LusiadasDAL.TblOptionsMenu> listOptionsMenu = ((LusiadasSolucaoWeb.Models.UserInfo)Session[Constants.SS_USER]).listOptions;

    string menuActive = "", menuParentActive = "";
    //string menuCustomMedico = "false";
    string cargo = ViewBag.NUM_CEDULA;
    //switch (cargo)
    //{
    //    case "Médico(a)":
    //        menuCustomMedico = "true";
    //        break;
    //}

    //switch (actionDescr)
    //{
    //    case "Index":
    //        if (controllerDescr == "Deslocacoes")
    //        {
    //            menuAccessDesloc = "active";
    //        }
    //        else if (controllerDescr == "PIM")
    //        {
    //            menuAccessPIM = "active";
    //        }
    //        else if (controllerDescr == "ConsultaDaDor")
    //        {
    //            menuAccessConsultaDaDor = "active";
    //        }

    //        break;
    //}


}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Lusíadas - Solução Web </title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link rel="shortcut icon" type="image/png" href="~/Content/img/logo.jpg" />


    <script src="~/Content/plugins/jQuery/jquery-3.3.1.min.js"></script>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/ionicons.min.css" rel="stylesheet" />

    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/css/cssLDF.min.css" rel="stylesheet" />


    <!-- iCheck -->
    <link href="~/Content/plugins/iCheck/all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/iCheck/minimal/_all.css" rel="stylesheet" />
    <link href="~/Content/plugins/iCheck/minimal/blue.css" rel="stylesheet" />
    <link href="~/Content/plugins/bootstrap-switch/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/noUISlider/nouislider.min.css" rel="stylesheet" />

    <link href="~/Content/plugins/morris/morris.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" type="text/css" />



    <script src="~/Content/Scripts/main.min.js" type="text/javascript"></script>
    <link href="~/Content/Scripts/css/select2.min.css" rel="stylesheet" />
    <script src="~/Content/Scripts/js/select2.min.js"></script>


    <script type="text/javascript">

        $(document).ajaxStart(function () {
            $('body').addClass("loading");

        });
        $(document).ajaxStop(function () {
            $('body').removeClass("loading");

        });
        $(document).ajaxError(function (e, jqxhr, settings, exception) {
            $('body').removeClass("loading");

            e.stopPropagation();
            if (jqxhr != null) {
                alert("De momento n\xE3o \xE9 poss\xEDvel satisfazer o pedido. Pedimos desculpa pelo incomodo");
                window.location = "/";
            }
        });

    </script>

    <style>

        .noselect {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        }

        #actualiza {
            width: 35px;
            height: 35px;
            background-image: url(/Content/img/refreshTable.png);
            background-repeat: no-repeat;
            padding: 0;
            border: none;
        }

        #actualizaATP {
            width: 35px;
            height: 35px;
            background-image: url(/Content/img/refreshTable.png);
            background-repeat: no-repeat;
            padding: 0;
            border: none;
        }

        #limpaF {
            width: 35px;
            height: 35px;
            background-image: url(/Content/img/cleanFilters.png);
            background-repeat: no-repeat;
            padding: 0;
            border: none;
            margin-left: 10px;
        }

        #myInput {
            background-image: url('/css/searchicon.png'); /* Add a search icon to input */
            background-position: 10px 12px; /* Position the search icon */
            background-repeat: no-repeat; /* Do not repeat the icon image */
            width: 100%; /* Full-width */
            font-size: 16px; /* Increase font-size */
            padding: 12px 20px 12px 40px; /* Add some padding */
            border: 1px solid #ddd; /* Add a grey border */
            margin-bottom: 12px; /* Add some space below the input */
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="Content/js/html5shiv.min.js"></script>
        <script src="Content/js/respond.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->


</head>

<body class="skin-blue sidebar-mini sidebar-collapse noselect">
    <div class="wrapper">
        <header class="main-header">
            <a href="/ATP" class="logo">
                <span class="logo-mini"><img src="/Content/img/minilogo_Lusiadas.png" alt="Mini Logo Lusíadas" style="height:30px;left:-18px;position:relative;" /></span>
                <span class="logo-lg"><img src="/Content/img/logo_Lusiadas.png" alt="Logotipo lusíadas" style="height:30px;" /></span>
            </a>

            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="/Content/img/doctorAvatar.png" class="user-image" alt="Imagem do utilizador" />
                                <span class="hidden-xs">@ViewBag.UserName</span>
                               
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="/Content/img/doctorAvatar.png" class="img-circle" alt="Imagem do utilizador" />
                                    <p> @ViewBag.UserName</p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/" class="btn btn-default btn-flat">Sair</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/Content/img/doctorAvatar.png" class="img-circle" alt="User Image" />
                    </div>
                    <div class="pull-left info">
                        <p>@ViewBag.UserName</p>
                        <a href="#"><i class="fa text-success"></i> @ViewBag.NUM_CEDULA</a>
                    </div>
                </div>

                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" id="ulSideBar">
                    <li class="header">MENU</li>

                    @*{  
                        foreach (var item in listOptionsMenu.Where(q => q.PARENT == 0))
                        {
                            if (parent == item.OPTION_ID)
                            {
                                menuParentActive = "active";
                            }  
                            @:<li class="@menuParentActive">

                            var href="#";
                            if (item.ACCAO != null && item.CONTROLLER != null)
                            {
                                href = @Url.Action(item.ACCAO, item.CONTROLLER);
                            }
                            @:<a href="@href">

                               @: <i class="fa fa-@item.ICON"></i> <span>@item.DESCR</span>
                            @:</a>
                            if (listOptionsMenu.Count(q => q.PARENT == item.OPTION_ID) > 0)
                            {
                                @:<ul class="treeview-menu menu-open">
                                foreach (var itemChild in listOptionsMenu.Where(q => q.PARENT == item.OPTION_ID))
                                {
                                    if(controllerDescr == itemChild.CONTROLLER || actionDescr == itemChild.ACCAO)
                                    { 
                                       menuActive= "active";
                                       parent = itemChild.PARENT; 
                                    }else{
                                        menuActive="";
                                    }   
                                    <li class="@menuActive"><a href="@Url.Action(itemChild.ACCAO, itemChild.CONTROLLER)"><i class="fa fa-@itemChild.ICON"></i> @itemChild.DESCR</a></li>
                                }
                                @:</ul>
                            }
                            @:</li>
                        }
                    }
                    *@
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ATP" ? "active" : "")">
        <a href="@Url.Action("Index", "ATP")">
            <i class="fa fa-ambulance"></i> <span>Atendimento Permanente</span>
        </a>
    </li>

@*
    <li class="@((ViewContext.RouteData.Values["Controller"].ToString() == "PIM" || ViewContext.RouteData.Values["Controller"].ToString() == "ConsultaDaDor") ? "active" : "")">
        <a href="#">
            <i class="fa fa-bed"></i> <span>Internamento</span>
        </a>
        <ul class="treeview-menu menu-open">
            <li class="@menuAccessPIM"><a href="@Url.Action("Index", "PIM")"><i class="fa fa-angle-right"></i> Vista Global</a></li>
            <li class="@menuAccessConsultaDaDor" hidden="@menuCustomMedico"><a href="@Url.Action("Index", "ConsultaDaDor")"><i class="fa fa-angle-right"></i> Consulta Da Dor</a></li>
        </ul>
    </li>
*@

    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Deslocacoes" ? "active" : "")">
        <a href=" #">
            <i class="fa fa-briefcase"></i> <span>Gestão Administrativa</span>
        </a>
        <ul class="treeview-menu menu-open">
            <li class="@menuActive"><a href="@Url.Action("Index", "Deslocacoes")"><i class="fa fa-angle-right"></i> Deslocações</a></li>
        </ul>
    </li>

                    <li>
                        <a href="http://help" target="_blank" style="color: #E77B1F;">
                            <i class="fa fa-question-circle"></i> <span>Helpdesk</span>
                        </a>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.4
            </div>
            <strong>Copyright &copy; 2018 Lusiadas.</strong> All rights reserved.
        </footer>

    </div><!-- ./wrapper -->
    <!-- jQuery 2.1.4 -->
    <script src="~/Content/plugins/jQuery/jquery-3.3.1.min.js"></script>
    <!-- jQuery UI 1.11.2 -->
    <script src="~/Content/js/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- Bootstrap 3.3.2 JS -->
    <script src="~/Content/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- Morris.js charts -->
    <script src="~/Content/js/raphael-min.js"></script>
    <script src="~/Content/plugins/morris/morris.min.js" type="text/javascript"></script>
    <!-- Sparkline -->
    <script src="~/Content/plugins/sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <!-- jvectormap -->
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" type="text/javascript"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/plugins/knob/jquery.knob.js" type="text/javascript"></script>
    <!-- daterangepicker -->
    <script src="~/Content/js/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- datepicker -->
    <script src="~/Content/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/Content/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js" type="text/javascript"></script>
    <!-- Slimscroll -->
    <script src="~/Content/plugins/slimScroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- iCheck -->
    <script src="~/Content/plugins/iCheck/icheck.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/plugins/fastclick/fastclick.min.js"></script>
    <!-- Bootstrap switch -->
    <script src="~/Content/plugins/bootstrap-switch/bootstrap-switch.min.js"></script>
    <!-- noUISlider -->
    <script src="~/Content/plugins/noUISlider/nouislider.min.js"></script>
    <!-- Select 2 -->
    <script src="~/Content/plugins/select2/select2.full.min.js"></script>

    @RenderSection("customJS", false)
    <div class="loadingModal" ></div>

    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/app.min.js" type="text/javascript"></script>
</body>
</html>