@using LDFHelper.Helpers;
@using LusiadasSolucaoWeb.Models;

@model ATPModel


<link href="/Content/css/ldfTable.min.css" rel="stylesheet" />
<script src="/Content/js/ldfTable.min.js"></script>


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Atendimento Permanente
        <small>Listagem de doentes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Atendimento Permanente</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="numDoentes">@Globals.nDoentes</h3>
                    <p>Doentes Presentes</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="semTriagem">@Globals.semTriagem</h3>
                    <p>Sem Triagem</p>
                </div>
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-4 col-xs-8">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3 id="semNota">@Globals.semNota</h3>
                    <p>Sem Nota Médica</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-md"></i>
                </div>
            </div>
        </div><!-- ./col -->
        
    </div>

    <div class="row">
        <form action="#" method="post">
            <div class="box box-default">
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            <input type="button" onclick="startRefresh()" id="actualizaATP" />

                        </label>
                        @{ DateTime localDate = DateTime.Now; string data = localDate.Hour + ":" + localDate.Minute + ":" + localDate.Second;}
                        <label id="lastupdate">
                            Última Actualização: @data
                        </label>

                    </div>
                    <div class="row listwrapper no-border">@Html.TableRender(Model, new LDFTableAttributes() { ID = "atpTable", className = "tableInternal" })</div>
                </div>
            </div>
        </form>
    </div>
</section>


@section customJS
{
    <script type="text/javascript">

        function RefreshData()
        {
            
             $.ajax({
                url: '@Url.Action("LoadTable", "ATP")',
                type: "get",
                cache: false,
                success: function (result) {
                    LDFTableRenderBody(result, 'atpTable');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr);
                }
            });

        }

       /* $(function () {
            startRefresh();
        });*/

        function startRefresh() {

            setTimeout(startRefresh, 30000);
            var date = new Date;
        
            var seconds = date.getSeconds();
            var minutes = date.getMinutes();
            var hour = date.getHours();
            $("#lastupdate").empty();
            $("#lastupdate").append("Última Actualização: " + hour + ":" + minutes + ":" + seconds);

            
            $("#numDoentes").empty();
            $("#numDoentes").append(@Globals.nDoentes);

            $("#semTriagem").empty();
            $("#semTriagem").append(@Globals.semTriagem);

            $("#semNota").empty();
            $("#semNota").append(@Globals.semNota);


            //$("#lastupdate") = "Última Actualização: "+hour + ":" + minutes + ":" + seconds;
            RefreshATPTable();
            
            
        }


        function RefreshATPTable() {
            LDFTableResetCounter("atpTable");
            RefreshData();
            
        }
    </script>
}
