@using LDFHelper.Helpers;
@using LusiadasSolucaoWeb.Models;

@model ATPModel


<link href="/Content/css/ldfTable.min.css" rel="stylesheet" />
<script src="/Content/js/ldfTable.min.js"></script>


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Atendimento Permanente
        <small>Listagem de doentes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Início</a></li>
        <li class="active">Atendimento Permanente</li>
    </ol>
</section>


<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-4 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="numDoentes">@Globals.nDoentes</h3>
                    <p>Doentes Presentes</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-4 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3 id="semTriagem">@Globals.semTriagem</h3>
                    <p>Sem Triagem</p>
                </div>
                <div class="icon">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-4 col-xs-4">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3 id="semNota">@Globals.semNota</h3>
                    <p>Sem Nota Médica</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-md"></i>
                </div>
            </div>
        </div><!-- ./col -->

    </div>

    <div class="row">
        <form action="#" method="post">
            <div class="box box-default">
                <div class="box-body">
                    <div class="form-group">
                        <label>
                            <input type="button" onclick="startRefresh()" id="actualizaATP" />

                        </label>
                        @{ DateTime localDate = DateTime.Now; string data = localDate.Hour + ":" + localDate.Minute + ":" + localDate.Second;}
                        <label id="lastupdate">
                            Última Actualização: @data
                        </label>

                    </div>
                    <div class="row listwrapper no-border">@Html.TableRender(Model, new LDFTableAttributes() { ID = "atpTable", className = "tableInternal" })</div>
                </div>
            </div>
        </form>
    </div>
</section>
<div class="loadingModal"></div>


@section customJS
{
    <script type="text/javascript">



        $(document).ajaxStart(function () {
            $('body').addClass("loading");

        });
        $(document).ajaxStop(function () {
            $('body').removeClass("loading");

        });

        $(document).ajaxError(function (e, jqxhr, settings, exception) {
            $('body').removeClass("loading");

            //e.stopPropagation();
            //if (jqxhr != null) {
            //    alert("De momento n\xE3o \xE9 poss\xEDvel satisfazer o pedido. Pedimos desculpa pelo incomodo");
            //    window.location = "/";
            //}
        });

        //getDados();

        function RefreshData()
        {

             $.ajax({
                url: '@Url.Action("LoadTable", "ATP")',
                type: "get",
                cache: false,
                 success: function (result) {
                  
                     LDFTableRenderBody(result, 'atpTable');
                     
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    console.log(xhr);
                }
            });

        }

        $(function () {
            startRefresh();
        });

        function startRefresh() {

       

           // setTimeout(startRefresh, 30000);
            var date = new Date;

            var seconds = date.getSeconds();
            var minutes = date.getMinutes();
            var hour = date.getHours();
            $("#lastupdate").empty();

            if (hour < 10) {
                hour = "0" + hour;
            }
            if (minutes < 10) {
                minutes = "0" + minutes;
            }
            if (seconds < 10) {
                seconds = "0" + seconds;
            }

            $("#lastupdate").append("Última Actualização: " + hour + ":" + minutes + ":" + seconds);

            getDados();

            //$("#lastupdate") = "Última Actualização: "+hour + ":" + minutes + ":" + seconds;
            RefreshATPTable();


        }


    function getDados() {

        $.ajax({
            url: '@Url.Action("GetDados", "ATP")',
            type: "get",
            cache: false,
            success: function (result) {

                var res=result.split(';');

                var ndoentes =res[0];
                var semTriagem = res[1];
                var semNota =res[2];

                $("#numDoentes").empty();
                $("#numDoentes").append(ndoentes);

                $("#semTriagem").empty();
                $("#semTriagem").append(semTriagem);

                $("#semNota").empty();
                $("#semNota").append(semNota);

            },
            timeout: 10000,
            error: function (xhr, ajaxOptions, thrownError) {

                console.log(xhr);
            }
        });

    }



        function RefreshATPTable() {
            LDFTableResetCounter("atpTable");
            RefreshData();

        }
    </script>
}
