@using LusiadasDAL;
@using LDFHelper.Helpers;
@using LusiadasSolucaoWeb.Models;

@model Tuple<TblConsultaDor, Tuple<EnfermeirosModel, AnestesistasModel>>

<style type="text/css">
    .bootstrap-switch-fail {
        background: #E63737;
        color: #fff;
    }

    .example-val {
        font: 400 12px Arial;
        color: #888;
        display: block;
        margin: 15px 0;
    }

    /* Position the bar and color it. */
    #DOR_EDIT {
        background: linear-gradient(to right, rgba(77, 175, 12, 1) 0%, rgba(247, 247, 37, 1) 50%, rgba(255, 30, 30, 1) 100%);
    }

    .bootstrap-switch-sliderElementClass {
        float: right;
    }

    .enfSelect {
    }
</style>
<script type="text/javascript">
    var sosCheckBoxEdit = $('#SOS_EDIT').bootstrapSwitch();
    var nauseaCheckBoxEdit = $('#NAUSEA_EDIT').bootstrapSwitch();
    var vomitosCheckBoxEdit = $('#VOMITOS_EDIT').bootstrapSwitch();
    var insoniaCheckBoxEdit = $('#INSONIA_EDIT').bootstrapSwitch();
    var cefaliaCheckBoxEdit = $('#CEFALEIA_EDIT').bootstrapSwitch();
    var altTerapCheckBoxEdit = $('#ALT_TERAP_EDIT').bootstrapSwitch();

    var dorElement = document.getElementById("DOR_EDIT");
    noUiSlider.create(dorElement, {
        start: 5,
        step: 1,
        animate: false,
        connect: 'lower',
        range: { 'min': 1, 'max': 10 }
    });

    dorElement.noUiSlider.set(@Int32.Parse(Model.Item1.DOR));

    dorElement.noUiSlider.on('update', function (values, handle) {
        $("#spanSliderDOREdit").html("Nível: " + values[handle]);
    });


    @{if ((Model.Item1.SOS) != null && Model.Item1.SOS.Equals("S"))
      {
        @: sosCheckBoxEdit.bootstrapSwitch('toggleState');
    } 
    if((Model.Item1.NAUSEA)!=null && Model.Item1.NAUSEA.Equals("S")){
       @: nauseaCheckBoxEdit.bootstrapSwitch('toggleState');
    }
    if((Model.Item1.VOMITOS)!=null && Model.Item1.VOMITOS.Equals("S") ){
        @:vomitosCheckBoxEdit.bootstrapSwitch('toggleState');
    }
    if((Model.Item1.INSONIA)!=null &&Model.Item1.INSONIA.Equals("S") ){
        @:insoniaCheckBoxEdit.bootstrapSwitch('toggleState');
    }
    if((Model.Item1.CEFALEIA)!=null &&Model.Item1.CEFALEIA.Equals("S")){
        @:cefaliaCheckBoxEdit.bootstrapSwitch('toggleState');
    }
    if ((Model.Item1.ALT_TERAP) != null && Model.Item1.ALT_TERAP.Equals("S"))
    {
        @:altTerapCheckBoxEdit.bootstrapSwitch('toggleState');
        }
    }


   
</script>


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Balão Infusor</label>
            <select id="BAL_INFUSOR_EDIT" name="BAL_INFUSOR" class="form-control">
                @{string selected1 = "";
                 string selected2 = "";
                switch (Model.Item1.BAL_INFUSOR)
                {
                    case "1": selected1="selected";
                         break;
                    case "2": selected2="selected";
                         break;
                    
                }
                }
                <option @selected1 value="1">EV</option>
                <option @selected2 value="2">Epidural</option>
            </select>
        </div>

        <div class="form-group">
            <label>SOS</label>
            <input type="checkbox" id="SOS_EDIT" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Nausea</label>
            <input type="checkbox" id="NAUSEA_EDIT" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Vómitos</label>
            <input type="checkbox" id="VOMITOS_EDIT" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Insonia</label>
            <input type="checkbox" id="INSONIA_EDIT" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Cefaleia</label>
            <input type="checkbox" id="CEFALEIA_EDIT" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>

        <div class="form-group">
            <label>Alteração terapeutica</label>
            <input type="checkbox" id="ALT_TERAP_EDIT" data-label-width="5" data-off-text="Não" data-off-color="fail" data-on-color="success" data-on-text="Sim" data-size="mini" class="form-control" data-wrapper-class="sliderElementClass" />
        </div>


    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Balão Infusor Sit</label>
            <select id="BAL_INFUSOR_SIT_EDIT" name="BAL_INFUSOR_SIT" class="form-control">
                @{string selectedF = "";
                string selectedC = "";
                string selectedR = "";
                switch (Model.Item1.BAL_INFUSOR_SIT)
                {
                    case "F": selectedF = "selected";
                        break;
                    case "C": selectedC = "selected";
                        break;
                    case "R": selectedR = "selected";
                        break;

                }
                }
                <option @selectedF value="F">Fechado</option>
                <option @selectedC value="C">Em Curso</option>
                <option @selectedR value="R">Retirado</option>
            </select>

        </div>

        <div class="form-group">
            <label>Dor</label>
            <div class="sliders" id="DOR_EDIT" name="DOR"></div>
            <span class="example-val" id="spanSliderDOREdit"></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Enfermeiros</label>
            <select id="ENF_EDIT" name="ENF" class="form-control enfSelect select2">
                <option selected value="@Model.Item1.ENF">@Model.Item2.Item1.listEnfermeiros.Where(q => q.N_MECAN == Model.Item1.ENF).First().NOME</option>

                @foreach (TblSDPessHosp item in Model.Item2.Item1.listEnfermeiros)
                {
                    <option value="@item.N_MECAN">@item.NOME</option>
                }
            </select>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Anestesista Visita</label>
            <select id="ANEST_VISITA_EDIT" name="ANEST_VISITA" class="form-control">
                <option selected value="@Model.Item1.ANEST_VISITA">@Model.Item2.Item2.listAnestesistas.Where(q => q.N_MECAN == Model.Item1.ANEST_VISITA).First().NOME</option>
                @foreach (TblPessHospDet item in Model.Item2.Item2.listAnestesistas)
                {
                    <option value="@item.N_MECAN">@item.NOME</option>
                }
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Outros sintomas</label>
            <input type="text" class="form-control" id="OUTROS_SINT_EDIT" name="OUTROS_SINT" value="@Model.Item1.OUTROS_SINT" />
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Observações</label>
            <input type="text" class="form-control" id="OBS_EDIT" name="OBS" value="@Model.Item1.OBS" />
        </div>
    </div>
</div>

<input type="hidden" id="formDaDor_tdoente" value="@Model.Item1.T_DOENTE" />
<input type="hidden" id="formDaDor_doente" value="@Model.Item1.DOENTE" />
<input type="hidden" id="formDaDor_rowid" value="@Model.Item1.ROWID" />